@import "../variables.scss";

.hero {
  background: $bg-color;
  display: flex;

  .hero-body {
    display: flex;
    align-items: center;
  }

  h1.title {
    color: $hero-color;
    font-size: 8em;
    @include mobile() {
      font-size: 4em;
    }
    font-weight: bold;
    font-family: $family-secondary;
    text-transform: uppercase;
  }

  h2.subtitle {
    font-size: $size-4;
    color: $hero-color;
    font-family: $family-primary;
  }
}

.hero-foot {
  background: #13131309;
  align-self: right;

  @include until($desktop) {
    margin-top: $gap * 2;
  }
}

.hero-foot .feature {
  @include from($desktop) {
    padding: 4em;
  }

  @include until($desktop) {
    padding: $gap / 2;
  }

  h3.title {
    color: lighten($blue, 10%);
    margin: 0;
    font-size: $size-medium;
  }

  a {
    color: lighten($primary, 50%);
  }

  &:hover {
    background: $primary;

    h3.title, a {
      color: $white;
    }
  }
}