@import "../variables.scss";

.intro {
  background: $blue;
  color: $white;
  &:hover {
    background: darken($blue, 10%);
  }
  transition: all 200ms ease;
  h4 {
    font-weight: $weight-bold;
    color: $white;
  }
  padding: 4rem 2rem;
  margin: 4rem;
  @include mobile() {
    margin: 0;
  }
  font-size: $size-large;
}