@import "../styles/variables.scss";

.navbar-brand {
  padding: 1rem;
  h2 {
    display: block;
    font-size: $size-medium;
    font-family: $family-sans-serif;
  }
}

.navbar-menu {
  padding: 0;
}

.navbar .navbar-item {
  background: $bg-color;
  color: $white;
  font-family: $family-sans-serif;
  font-weight: $strong-weight;
  padding: 1rem 1.5rem;
}