@import "../styles/variables.scss";

.portfolio {
  margin-top: $gap;

  @include mobile() {
    margin: 20px;
  }

  p.title {
    font-size: $size-normal;
    font-weight: $weight-normal;
    font-family: $family-secondary;
    margin: 1rem 0;
    text-transform: uppercase;
    color: $primary;
  }
  p.subtitle {
    color: $text-light;
    padding-top: 0.5rem;
    font-size: $size-normal;
    margin-bottom: 1rem;
  }
}

.portfolio .tile.is-parent {
  &:hover {
    color: white;
  }
}